<div id="missing" class="morf">
  <div class="button">
    <%= link_to "Missing Item", searchform_lost_and_found_items_path(reported_missing: true),
                class: "button item_missing_button" %>
  </div>
  I do not have the item in my hand
</div>

<div id="found" class="morf">
  <div class="button">
    <%= link_to "Found Item", searchform_lost_and_found_items_path(found: true),
                class: "button item_found_button" %>
  </div>
  I have the item in my hand
</div>

<% content_for :side do %>
    <% if current_user.modify_lost_and_found? %>
        <%= link_to 'Open Inventory', open_inventory_lost_and_found_items_path %>
    <% end %>
<% end %>