<%= render partial: 'lost_and_found_items/jump' %>

<div class="center-block">
  <div id="missing" class="morf">
    <%= link_to "Missing Item", searchform_lost_and_found_items_path(reported_missing: true),
                class: "btn btn-lg btn-warning center-block item_missing_button" %>
    <div>I do not have the item in my hand</div>
  </div>

  <div id="found" class="morf">
    <%= link_to "Found Item", searchform_lost_and_found_items_path(found: true),
                class: "btn btn-lg btn-success center-block item_found_button" %>
    I have the item in my hand
  </div>

</div>
<h4 style="text-align: center" class="clearfix"><strong>NOTE:</strong> You <strong>must</strong> search for for the
  missing or found item
  to ensure it is not already recorded <strong>before</strong> you can create a new entry.</h4>
<% content_for :side do %>
    <% if current_user.modify_lost_and_found? %>
        <%= link_to 'Open Inventory', lost_and_found_items_path(inventory: true) %>
    <% end %>
<% end %>
