<% content_for :banner do%>
<% end %>

<div class="row">
		<div class="col-md-6">
			<ul>
				<li><%= link_to "Duty Board", duty_board_index_url,
												target: '_blank',
												class: 'btn btn-primary btn-lg' %>
				</li>
        <li><%= link_to "Ops Wiki", "https://wiki.convergence-con.org/doku.php?id=operations",
												target: '_blank',
												class: 'btn btn-primary btn-lg' %>
				</li>
			</ul>
		</div>

		<div class="col-md-5"><%= render :partial => 'form' %></div>

</div>
