<% content_for :banner do%>
<% end %>

<%= render :partial => 'form' %>

<% content_for :side do %>
<div id="public_menu">
	<ul>
		<li><%= link_to "Duty Board", duty_board_index_url, class: 'button' %></li>
		<li><%= link_to "Ops Training & Policies", root_url, class: 'button' %></li>
	</ul>
</div>
<% end %>

