<% content_for :banner do%>
<% end %>

<%= render :partial => 'form' %>

<% content_for :side do %>
<div id="public_menu">
	<ul>
		<li><%= link_to "Duty Board", duty_board_index_url %></li>
		<li><a href="http://www.shiftboard.com/ce" title="Online Scheduling" alt="Online Scheduling and People Management Tools">Ops Schedule</a></li>
		<li><%= link_to "Ops Training & Policies", root_url %></li>
	</ul>
</div>
<% end %>

