.bundle
.idea/
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
*~
*.dump
.byebug*
.rvmrc*
.powrc
public/assets/*

contact.csv

coverage/

production.backup.sql

sst/

test/.DS_Store
config/database.yml
db/data.yml
.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/id
Vagrantfile
passenger.*
node_modules

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
