.bundle
.idea/
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
*~
*.dump

.rvmrc*
.powrc
public/assets/*

contact.csv

coverage/

production.backup.sql

sst/

test/.DS_Store
config/database.yml
db/data.yml
.vagrant/
Vagrantfile
