<h1>Lost And Found Categories</h1>
<%= link_to 'Add a new category', new_lost_and_found_category_path, class: "btn btn-primary" %>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Controls</th>
    </tr>
  </thead>

  <tbody>
    <% @lost_and_found_categories.each do |lost_and_found_category| %>
      <tr>
        <td><%= lost_and_found_category.name %></td>
        <td><%= link_to 'Edit', edit_lost_and_found_category_path(lost_and_found_category) %>
        | <%= link_to 'Delete', lost_and_found_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


