<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lost_and_found_category.name %>
</p>

<%= link_to 'Edit', edit_lost_and_found_category_path(@lost_and_found_category) %> |
<%= link_to 'Back', lost_and_found_categories_path %>
