<tr>
  <td><%= link_to duty_board_slot.name, edit_duty_board_slot_path(duty_board_slot) %></td>
  <td><%= link_to duty_board_slot.duty_board_group.name, duty_board_slot.duty_board_group %></td>
  <td><%= link_to "x", duty_board_slot, confirm: 'Are you sure?', method: :delete %></td>
</tr>
