tr.clickable-row data-href=edit_duty_board_slot_path(duty_board_slot)
  td= link_to duty_board_slot.name, edit_duty_board_slot_path(duty_board_slot)
  td= duty_board_slot.duty_board_group&.name || 'n/a'
  td= link_to "Delete", duty_board_slot, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger btn-xs'

