<%= render partial: 'jump' %>

<div class="col-md-12">
  <h1>Edit <%= @lfi.type %> item </h1>

  <%= render "form" %>
</div>

<% content_for :side do %>
    <div class="col-md-12">
      <div class="well well-sm">
        <%= link_to 'Back', @lfi %>
      </div>
    </div>
<% end %>
