<div class="duty_board_assignment">
  <% if current_user and current_user.can_assign_duty_board_slots? %>
	<%= link_to duty_board_slot.name,
              controller: :duty_board,
              action:     :assign_slot,
              id:         duty_board_slot.to_param %>
  <% else %>
        <%= duty_board_slot.name %>
  <% end %> &mdash;
  <% if duty_board_slot.duty_board_assignment %>
      <div class="volunteer_name">
        <%= duty_board_slot.duty_board_assignment ? duty_board_slot.duty_board_assignment.name : "" %>
        <% if duty_board_slot.duty_board_assignment.notes %>
            <sup>*</sup>
            <span class="popup"><%= duty_board_slot.duty_board_assignment.notes %></span>
        <% end %>
      </div>
  <% end %>
</div>
