<h1>CONvergence Duty Board</h1>
<table id="duty_board">
  <colgroup>
    <col id="duty_board_left">
    <col id="duty_board_right">
  </colgroup>
  <% DutyBoardGroup.row_range.each do |row| %>
      <tr class="duty_board_row">
        <% DutyBoardGroup.col_range.each do |col| %>
            <td class="duty_board_group">
              <% duty_board_group = DutyBoardGroup.find_by_row_and_column row, col %>
              <% if duty_board_group %>
                  <%= render partial: 'duty_board_group', locals: { duty_board_group: duty_board_group } %>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
</table>