<h1>Listing users</h1>

<table>
  <tr>
    <th class="username">Name</th>
    <th class="realname">Real name</th>
  </tr>

  <%= render @users %>
</table>

<div class="button"><%= link_to 'New User', new_user_path, class: 'button' %></div>
