<% style = '' %>
<% tags = '' %>
<% if event.is_active? %>
	<% style << "active " %>
	<% tags << "Active " %>
<% end %>

<% if event.medical? %>
	<% style << "medical "%>
	<% tags << "Medical " %> 
<% end %>

<% if event.emergency? %>
	<% style << "emergency "%>
	<% tags << "Emergency"%>
<% elsif event.sticky? %>
	<% style << "sticky "%>
	<% tags << "Sticky " %>
<% else %>
	<% tags << "Issue" %>
<% end %>

<span class="<%= style %>" ><%= tags %></span>

<% if !form %>
	<span><%= link_to 'Update', edit_event_path(event), class: 'button update' %></span>
    <span class="updated_at"><%= event.updated_at.getlocal.ctime %></span>
<% end %>

