.inline
  - if !form && params[:merge_mode] == 'true'
    span.merge-check
      = check_box_tag "merge_ids[]", event.id
      = label_tag "merge_ids[]", 'Merge'

  - if !form
    = link_to 'Update This Event', edit_event_path(event), class: 'button update'

  span { class: event_style event }
    = event_tags event

  - if !form
    .event-id ID: #{event.id}
