<div id="paginator"><%= paginate @events, remote: true %></div>
<div id="eventlist">
</div>

<script>
    window.events.active = <%= params[:active].nil? ? false : params[:active] %>
    window.events.page = <%= params[:page].nil? ? "1" : params[:page] %>
    window.events.getMain()
</script>