<p id="notice"><%= notice %></p>

<div>
</div>

<div id="entries">
    <%= render(partial: "entries/entry", collection: @event.entries) %>
</div>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
