<table>
  <tr>
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
  </tr>

  <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= volunteer.first_name %></td>
        <td><%= volunteer.middle_name %></td>
        <td><%= volunteer.last_name %></td>
        <td><%= link_to 'Select', { action: :select_department, id: radio, volunteer: volunteer.id }, method: :get %></td>
      </tr>
  <% end %>
</table>

