<h1>New radio</h1>

<div>
  <%= render 'form' %>
</div>

<ol id="radio-list">
  <% @radios = Radio.all %>
  <%= render partial: 'radios' %>
</ol>
<% content_for :side do %>
    <%= link_to 'Back', radios_path %>
<% end %>
