<tr>
  <td><%= link_to duty_board_group.name, edit_duty_board_group_path(duty_board_group) %></td>
  <td><%= duty_board_group.row %>, <%= duty_board_group.column %></td>
  <td><%= link_to "x", duty_board_group, confirm: "Are you sure?", method: :delete %></td>
</tr>