<h1>Duty Board Groups</h1>
<table id="duty_board_groups">
  <tr>
    <th>Name</th>
    <th>Row, Column</th>
  </tr>
  <%= render @duty_board_groups %>
</table>
<div class="button"><%= link_to "New Duty Board Group", new_duty_board_group_path %></div>

<% content_for :side do %>
    <div><%= link_to "Back", admin_path%></div>
<% end %>