.blue
{ background-color: #0000FF; color: white; }
.green
{ background-color: #00FF00; color: white; }
.red
{ background-color: #FF0000; color: white; }
.yellow
{ background-color: #FFFF00; color: black; }
