.blue
{ background-color: #0000FF; color: white;
  a, a:visited, a:hover, a:active { color: white; }
}
.green
{ background-color: #00FF00; color: white;
  a, a:visited, a:hover, a:active { color: white; }
}.red
{ background-color: #FF0000; color: white;
   a, a:visited, a:hover, a:active { color: white; }
 }
.yellow
{ background-color: #FFFF00; color: black;
  a, a:visited, a:hover, a:active { color: black; }
}
.black
{ background-color: black; color: white;
  a, a:visited, a:hover, a:active { color: white; }
}
