/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*= require formtastic
*= require_self
*= require_tree .
*/
@import "colors";
@import url(http://fonts.googleapis.com/css?family=Nunito:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
  max-width: 1000px;
  max-height: 750px;

  margin: auto;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.9em;
  background-color: white;
  color: #333;
}

nav {
  padding-bottom: 1em;
  padding-top: 1em;

  .current {
    font-weight: bold;
    background-color: $green_desat;
  }
  .page {
    padding: .5em;
    border-collapse: collapse;
  }
}

h1, h2, h3, h4, h5, h6 {
  padding-top: 0;
  margin-top: 0;
}

table {
  width: 100%;
}

th {
  border-bottom: thin solid $dark_grey;
  width: auto;
}

tr {
  height: 2em;
}

td {
  width: auto;
}

a {
  text-decoration: none;
  color: $dark_grey;
  background-color: transparent;

  &:hover {
    color: white;
    background-color: $dark_grey;
  }
}

a.sort_link {
  color: $bright_blue;
  &:hover {
    background-color: $bright_blue;
    color: white;
  }
}

#search, #search-left {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;

  border: thin solid $light_grey;

  form {
    margin: 0;
  }
  input[type='submit'] {
    margin: 0;
    padding: 4px;
    font-size: .8em;
  }
}

#search {
  text-align: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

.formtastic {
  li.input {
    padding: 0;
    margin: 0;
  }

  label {
    font-weight: bold;
  }
}

#banner {
  position: relative;
  height: 100px;
  width: 100%;
  padding-top: 1px;

  img {
    float: left;
  }

  #logo {
    background-color: black;
    color: white;
    padding: 10px 10px 10px 20px;
    float: left;
    width: 100px;

  }

  #banner_text {
    margin-left: 5em;
    margin-top: .5em;
    font-weight: bold;
    float: left;
    div {
      margin-bottom: .2em;
      a {
        color: inherit;
      }
    }
  }

  #emergency_button {
    float: right;
    margin-right: 6px;
  }

  .not-emerg, .reverse {
    width: 162px;
    height: 100px;
  }
  .not-emerg {
    background-color: $emergency_bg;
    color: $emergency_fg;

    &:hover {
      color: $emergency_bg;
      background-color: $emergency_fg;
    }
  }

  .reverse {
    background-color: $emergency_fg;
    color: $emergency_bg;
    &:hover {
      color: $emergency_fg;
      background-color: $emergency_bg;
      border: thin solid $emergency_fg;
    }
  }
}

.odd {
  background-color: $light_grey;
}

div.button {
  margin-top: 12px;
  margin-bottom: 12px;
}

a.tab {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 12px 0.5em;
  margin-left: 3px;
  border: 1px solid #778;
  border-bottom: none;
  background-color: $nav_bar_tab_bg;
  color: $nav_bar_tab_fg;
  display: block;
  width: 7em;

  &:hover, &.selected {
    color: $nav_bar_tab_bg;
    background-color: $nav_bar_tab_fg;

    .selected:hover {
      background-color: $nav_bar_tab_bg;
      color: $nav_bar_tab_fg;
    }
  }
}

a.button, input[type="submit"] {
  padding: 12px;
  margin: 0px;
  box-sizing: content-box;
  white-space: normal;
  -webkit-appearance: none;
  display: inline;
  height: auto;
  line-height: normal;
  border: 1px soild;

  font-family: inherit;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
}

a.small-button {
  padding: 4px;
  font-size: .8em;
}

a.button {

  background-color: $dark_grey;
  color: white;

  &:hover {
    color: $dark_grey;
    background-color: white;
    border: thin solid $dark_grey;
  }
}

a.submit-button, input[type="submit"],
{
  background-color: $green;
  color: white;

  &:hover {
    color: $green;
    background-color: white;
    border: thin solid $green;
  }

}

.odd {
  a.button {
    background-color: white;
    color: $dark_grey;
    border: thin solid $dark_grey;

    &:hover {
      color: white;
      background-color: $dark_grey;
    }
  }
}

.missing {
  background-color: $missing_bg;
}

.found {
  background-color: $found_bg;
}

.normal#banner {
  background-color: $no_issues_bg;
  color: $no_issues_fg;
}

.active#banner {
  background-color: $active_issues_bg;
  color: $active_issues_fg;
}

.messages#banner {
  background-color: $messages_bg;
  color: $messages_fg;
}

.emergency#banner {
  background-color: $emergency_bg;
  color: $emergency_fg;
}

#menubar {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  height: 4em;
  background-color: $nav_bar_bg;
  color: $nav_bar_fg;

  ul {
    width: 100%;
    float: left;
    padding: 0;
    margin-left: 0;
    font-size: .9em;
    font-weight: bold;

    li {
      list-style: none;
      margin: 0;
      float: left;
    }
  }

}

#notice {
  color: black !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#welcome {
  border: thin solid $green;
  background-color: $green_desat;
  padding: 1em;
  margin-top: 1em;
  margin-right: 1em;
}

#columns {
  min-height: 500px;
  #main {
    min-height: 500px;
    width: 80%;
    float: left;
  }

  #side {
    margin: 0;
    padding: 0;
    float: left;
    width: 20%;
    min-height: 500px;

    a {
      margin-right: .5em;
      background-color: inherit;
      color: $sidebar_fg;
      display: block;

      &:hover {
        color: $sidebar_bg;
        background-color: $sidebar_fg;
        border: thin solid $sidebar_bg;
      }
    }

    ul {
      width: 100%;
      float: left;
      padding: 0;
      margin-left: 0;
      font-size: .8em;

      li {
        list-style: none;
        margin: .5em;
        padding: .5em;
      }
    }
  }
}

#indicia {
  clear: both;
  padding: 10px;
  border-top: 2px solid;
  font: small-caps 10px/10px "Palatino", "Times New Roman", serif;
  text-align: center;
}

.con_on_rails_form {
  fieldset {
    legend {
      font-size: larger;
      font-weight: bold;
    }
  }

  form {
    label {
      width: 5em;
      float: left;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 4em;
    }

    br {
      display: none;
    }
  }
}

.ui-autocomplete {
  background-color: $light_grey;
  color: black;
  border: thin solid black;
  width: 200px;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

}

#cork-board {
  position: relative;
  width: 800px;
}

.cork-board {
  background-image: url(image_path('expanded-cork.jpg'));
  width: 780px;
  min-height: 100px;
  max-height: 100px;
  margin-bottom: 12px;
  overflow: auto;
  white-space: nowrap;
}

.index-card {
  background-color: white;
  color: black;
  border: thin solid black;
  height: 80px;
  width: 170px;
  margin: 5px;
  padding: 5px;
  float: left;
  white-space: pre-wrap;

  .card-text {
    font-size: 12px;
  }
}

.selected-card {
  background-color: blue;
  color: white;
}

.cork-board-label {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  width: auto;
  height: auto;
  background-color: white;
  font-size: 12px;
}