// Place all the styles related to the duty_board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'bootstrap';
.duty_board, .duty_board_assignments
{
  padding: 12px;

  background-color: $blue;
  color: $yellow;

  input {
    color: black;
  }

  a, a:hover, a:visited, a:active
  {
    color: $yellow;
  }
  h1
  {
    text-align: center;
  }
  h4
  {
    color: white;
  }
  #duty_board
  {
    width: 100%;
  }

  #date
  {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    line-height: 100%;
  }

  .duty_board_row
  {
    @extend .row;
  }

  .duty_board_group
  {
    @extend .col-md-4;

    //border: thin solid;
    text-align: left;
    padding: 6px;

    .duty_board_assignment
    {
      font-size: 16px;
      font-weight: bold;
      line-height: 110%;

      .volunteer_name
      {
        color: white;
        display: inline;
        .popup
        {
          display: none;
        }
      }
      .volunteer_name:hover
      {
        .popup
        {
          display:block;
          position:absolute;
          left:10%;
          width:80%;
          padding:5px;
          background:gray;
          color:white;
          border:2px inset green;
          white-space: normal;
          z-index:100;
        }
      }
    }
  }
}