// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entries 
{ 
  font-family: Calibri, Palatino, "Times New Roman", serif;

  .entry
  {
    padding-bottom: 6px;
  }

  .list_line_odd
  {
    background-color: #e1e100;
  }
  .list_line_even
  {
    background-color: #00e1e1;
  }

  .list_metadata
  {
    font-weight: bold;
    font-size: x-small;
    padding: 0;
  }

  .list_description
  {
  }

  .list_actions
  {
    font-size: x-small;
  }
  
  
  .formtastic
  {
    fieldset
    {
      margin: 0;
      padding: 0;
      padding-left: 1em;

      ol
      {
        margin: 0;
        padding: 0;
        li
        {
          margin: 0;
          padding: 0;
        }
      }
    }

    fieldset.entry_description
    {
      width: 500px; 
    }
    
    #event_options_side
    {
      float: right;
      width: 300px;
      label
      {
        padding: 0;
      }

      fieldset.status 
      {
        ol
        {
          ol.choices-group
          {
            padding: 0;
            list-display-style: none;

            .choice
            {
              display: inline;
              
              label
              {
                padding: 0;
                margin-right: 1em;
              }
            }
          }
        }
      }
      
      fieldset.type_flags
      {
        ol
        {
          li
          {
            display: inline;
            label
            {
              margin-left: 1em;
            }
          }
        }
      }
    }

    #event_options_bottom
    {
      display: block;
      fieldset.department_flags
      {
        float: left;
        ol
        {
          list-display-style: none;

          .input
          {
            display: inline;
            label
            {
              padding: 0;
              margin-right: .5em;
              display: inline;
            }
          }
        }
      }
    }
 
    #event_entry_description
    {
      width: 95%;
    }

    .buttons
    {
      display: block;
      padding-left: .5em;
      padding-top: .5em;
    }
  }
}


