// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entries 
{ 
  font-family: Calibri, Palatino, "Times New Roman", serif;

  .entry
  {
    padding-bottom: 6px;
  }

  .list_line_odd
  {
    background-color: #e1e100;
  }
  .list_line_even
  {
    background-color: #00e1e1;
  }

  .list_metadata
  {
    font-family: Consolas, "Courier New", Courier, monospace;
    font-size: x-small;
    padding: 0;
  }

  .list_description
  {
  }

  .list_actions
  {
    font-size: x-small;
  }
}


