// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.events {
  .event_header {
    margin-bottom: 6px;
  }

  .event_metadata {
    clear: both;
    font-size: 10px;
    padding: 6px;
    margin-right: 6px;
    border-top: thin solid;
    border-bottom: thin solid;

    .inline {
      display: inline-block;
      width: 100%
    }

    .medical {
      color: $red;
    }

    .emergency {
      color: $red;
    }

    .active {
      font-weight: bold;
    }

    a.update {
      margin-right: 1em;
      padding: .5em;
      background-color: $green;
      color: white;

      &:hover {
        color: $green;
        background-color: white;
        border: thin solid $green;
      }
    }

    .event-id {
      text-align: right;
      font-weight: 700;
      float: right;
    }
  }

  .merge-button {
  }

  .cancel-merge {
    color: $dark_grey;
    background-color: white;
    border: thin solid $dark_grey;

    &:hover {
      color: white;
      background-color: $dark_grey;
    }
  }

  .merge-check {
    float: left;
    margin-right: 1em;
    font-weight: bold;
  }

  ul.entries {
    padding: 0;
    margin-left: 1em;
    min-height: 5em;

    list-style-type: circle;
    list-style-position: outside;
    li.entry {
      margin-bottom: 1em;

      .entry_metadata {
        font-weight: bold;
        color: $dark_grey;
        .date {
          display: inline;
        }
        .volunteer {
          display: inline;
        }
      }

    }
  }

  .formtastic {
    fieldset {
      margin: 0;
      padding: 0;
      padding-left: 1em;

      ol {
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          padding: 0;
        }
        li.alert-tag-check {
          padding-top: 12px;

          label {
            padding-left: 12px;
          }
        }
      }
    }

    fieldset.inputs {
      textarea {
        margin-right: 2em;
      }
    }

    #event_options_side {
      float: right;
      width: 25%;

      label {
        font-size: .9em;
      }
    }
    fieldset.status {
      padding: 0;
      margin: 0;
      .choices {
        padding: 0;
        margin: 0;
      }
      ol {
        ol.choices-group {
          padding-bottom: 5px;
          list-style: none;

          .choice {
            margin: 0;
            padding-left: 5px;
            padding-top: 5px;
            //display: inline;

            label {
              margin-right: 1em;
            }
          }
        }
      }
    }

    fieldset.type_flags {
      padding: 0;

      ol {
        li {
          display: inline;
          label {
            margin: 0;
            padding-left: 4px;
          }
          label[for=event_emergency], label[for=event_medical] {
            background-color: $emergency_bg;
            color: $emergency_fg;
          }
          label[for=event_sticky] {
            background-color: $pale_yellow;
          }

        }
      }
    }
  }

  #event_options_bottom {
    display: block;
    padding-top: 5px;
    fieldset.department_flags {
      float: left;
      ol {
        list-style-type: none;

        .input {
          display: inline;
          label {
            padding: 0;
            margin-right: .5em;
            display: inline;
            font-size: .9em;
          }
        }
      }
    }
  }

  .event_flag_history {
    float: right;
    border: thin solid black;
    padding: 3px;
    margin: 6px;
    font-size: 9px;

    .efh_header {
      font-weight: bold;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: inline;
        padding: 0;
        margin: 0;
        font-size: 9px;
      }
    }
  }

  #entry_description_input {
    textarea#entry_description {
      width: 97%;
      height: 20em;

    }
  }

  .buttons {
    display: block;
    clear: both;
    margin-bottom: 1em;
    margin-top: .5em;
    padding-top: 6px;
    padding-left: 0;
  }

  .big-log-button {
    a.button {
      &:link, &:active, &:visited {
        background-color: $blue;
        color: white;
      }
      &:hover {
        color: $blue;
        background-color: white;
        border: thin solid $blue;
      }

    }
  }

  // Filter stuff
  #filters {
    fieldset#filter_set {
      width: 80%;

      fieldset {
        width: auto;
        padding: 0;
      }
    }
    ol {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        font-size: 70%;
        float: left;
        margin-right: 3px;
      }
    }
  }
}

.current_index_filter {
  font-weight: bold;
}
