// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

textarea#entry_description
{
  height: 23em;
}

.events {
  .event_metadata {
    .well {
      margin-bottom: 6px;
    }

    .inline {
      display: inline-block;
      width: 100%
    }

    .medical {
      color: $red;
    }

    .emergency {
      color: $red;
    }

    .active {
      font-weight: bold;
    }

    a.update {
      margin-right: 1em;
      color: white;
    }

    .event-id {
      text-align: right;
      display: inline-block;
      font-weight: 700;
    }
  }

  .cancel-merge {
    color: $dark_grey;
    background-color: white;
    border: thin solid $dark_grey;

    &:hover {
      color: white;
      background-color: $dark_grey;
    }
  }

  ul.entries {
    padding: 0;
    margin-left: 1em;
    min-height: 5em;

    list-style-type: circle;
    list-style-position: outside;
    li.entry {
      margin-bottom: 1em;

      .entry_metadata {
        font-weight: bold;
        color: $dark_grey;
        .date {
          display: inline;
        }
        .volunteer {
          display: inline;
        }
      }

    }
  }

  .event_flag_history {
    float: right;
    font-size: 9px;

    .efh_header {
      font-weight: bold;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: inline;
        padding: 0;
        margin: 0;
        font-size: 9px;
      }
    }
  }

  .buttons {
    display: block;
    clear: both;
    margin-bottom: 1em;
    padding-left: 0;
  }

  .big-log-button {
    a.button {
      &:link, &:active, &:visited {
        background-color: $blue;
        color: white;
      }
      &:hover {
        color: $blue;
        background-color: white;
        border: thin solid $blue;
      }

    }
  }

  // Filter stuff
  #filters {
    fieldset#filter_set {
      width: 80%;

      fieldset {
        width: auto;
        padding: 0;
      }
    }
    ol {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        font-size: 70%;
        float: left;
        margin-right: 3px;
      }
    }
  }
}

.current_index_filter {
  font-weight: bold;
}
