// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.events
{
  .event_header
  {
    margin-bottom: 6px;
  }

  .event_metadata
  {
    font-size: 9px/9px;
    padding-left: 3px;
    margin-right: 6px;
    border: thin solid;
     
    .medical
    {
      color: $red;
    }
    
    .emergency
    {
      color: $red;
    }
    
    .active
    {
      font-weight: bold;
    }
    
    .update
    {
        a
        {
          background-color: $green;
          color: white;
        }
        a:hover
        {
          background-color: $green_desat;
        }
    }
  }

  ul.entries
  {
    margin-left: 1em;
    
    list-style-type: square;
    list-style-position: outside;
    li.entry
    {
      margin-bottom: 1em;
      
      .date
      {
        display: inline;
      }
      .volunteer
      {
        display: inline;
      }
    }
  }
  
  .formtastic
  {
    fieldset
    {
      margin: 0;
      padding: 0;
      padding-left: 1em;

      ol
      {
        margin: 0;
        padding: 0;
        li
        {
          margin: 0;
          padding: 0;
        }
      }
    }

    fieldset.inputs
    {
      textarea
      {
        width: 575px;
        margin-right: 2em;
      }
    }
    
    #event_options_side
    {
      float: right;
      width: 200px;
      label
      {
        padding: 0;
      }

      fieldset.status 
      {
        ol
        {
          ol.choices-group
          {
            padding: 0;
            list-display-style: none;

            .choice
            {
              display: inline;
              
              label
              {
                padding: 0;
                margin-right: 1em;
              }
            }
          }
        }
      }
      
      fieldset.type_flags
      {
        ol
        {
          li
          {
            display: inline;
            label
            {
              margin-left: 1em;
            }
          }
        }
      }
    }

    #event_options_bottom
    {
      display: block;
      fieldset.department_flags
      {
        float: left;
        ol
        {
          list-display-style: none;

          .input
          {
            display: inline;
            label
            {
              padding: 0;
              margin-right: .5em;
              display: inline;
            }
          }
        }
      }
    }
 
    #entry_description_input
    {
      textarea
      {
        margin: 1em;
        width: 95%;
      }
    }

    .buttons
    {
      display: block;
      padding-left: .5em;
      padding-top: .5em;
      margin-bottom: 1em;
    }
  }
  
}