// Place all the styles related to the Radios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.radios
{
  form
  {
    fieldset
    {
      //float: left;
    }
    fieldset.actions
    {
      padding: 0;
    }
  }
  ol
  {
    li
    {
      float: left;
    }
    #radio_assignment_department_input
    {
      width: 300px;
      label
      {
        width: 50%;
      }
    }
  }

  .input
  {
    label.label
    {
      width: 100%;
    }
  }
}

@import "radio_colors";

