// Place all the styles related to the Radios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.radios
{
  form
  {
    fieldset
    {
      float: left;
    }
    fieldset.actions
    {
      padding: 0;
    }
  }
  ol
  {
    li
    {
      float: left;
    }
    #radio_assignment_department_input
    {
      width: 300px;
      label
      {
        width: 50%;
      }
    }
  }

  #radio_group, .radio_group
  {
    width: 50px;
  }
  #radio_number, .radio_number
  {
    width: 75px;
    text-align: left;
  }
  #radio_department, .radio_department
  {
    width: 150px;
  }
  #radio_volunteer, .radio_volunteer
  {
    width: 300px;
    text-align: left;
  }

  div.radio_group, div.radio_number, div.radio_volunteer
  {
    float: left;
    text-align: center;
  }

  @import "radio_colors";

}