// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.sessions
{
  #columns
  {
    #side
    {
      float: left;
      width: 600px;
      #margin-left: 7em;

      #public_menu
      {
        ul
        {
          list-style-type: none;
          li
          {
            color: white;
            text-align: center;
            a
            {
              background-color: $green;
              color: white;
              font-size: 1.4em;
              font-weight: bold;
              display: block;
              padding-left: 15px;
              width: inherit;

              &:hover
              {
                color: $green;
                background-color: white;
                border: thin solid $green;
              }
            }
          }
        }      
      }
    }
  
    #main
    {
      float: right;
      width: 260px;
      height: 270px;

      #login_form
      {
        padding: 1em;
        background-color: $green_desat;
        input { width: 90%; }
      }
      
      label
      {
        font-weight: bold;
      }
    }
  }
}
