<div id="indicia">
  <div>Con on Rails is Copyright &copy; 2011-2013 Michael Scott Shappe, DeNae Leverentz, Thomas Keeley, licensed under
    <a href="http://www.apache.org/licenses/LICENSE-2.0.html">The Apache License, 2.0.</a></div>
  <div>Version <%= version_number %> "<%= version_name %>"</div>
  <%= debug(params) if Rails.env.development? %>
</div>